.container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.nav {
  text-decoration: none;
  color: white;
  transition: color 200ms;
  text-transform: uppercase;
  padding: 15px;
}

.nav:hover {
  text-decoration: underline;
}

.name {
  color: white;
  padding: 15px;
}